@charset "utf-8";

@font-face {
    font-family: 'NanumSquare';
    font-style: normal;
    font-weight: 400;
    src: url('../font/NanumSquareR-subset.woff') format('woff');
}

@font-face {
    font-family: 'NanumSquare';
    font-style: normal;
    font-weight: 700;
    src: url('../font/NanumSquareB-subset.woff') format('woff');
}

@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    src: url('../font/Manrope-Regular.woff') format('woff');
}

@font-face {
    font-family: 'NanumSquare';
    font-style: normal;
    font-weight: 800;
    src: url('../font/Manrope-ExtraBold.woff') format('woff');
}

@font-face {
    font-family: 'icon';
    src: url("../font/icon.woff2") format("woff2");
}